{% extends 'mainbase.html' %}
{% load static %}
{% block content%}

{% for c in course %}
<div class="card mx-auto d-flex bg-info w-25 border:1px mb-5" style="width: 18rem;">
  <div class="card-body ">
    <h5 class="card-title">{{c.name}}</h5>
    <p class="card-text">{{c.description}}</p>
    <div class="d-flex"><h6>Duration:</h6><p>{{c.duration}}Years</p></div>
    <div class="d-flex"><h6>fee:</h6><p>{{c.fee}}/-</p></div>
  </div>
</div>


  {% endfor %}



{% endblock content %}