{% extends 'base.html' %}
{% load static %}
{ % block title % }show student{ % endblock title % }

{% block content%}
<div class="m-5">
<table class="table table-success table-striped ">
    <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Student Email</th>
            <th scope="col">Student Phone Number</th>
            <th scope="col">Student Address</th>
            <th scope="col">Student Place</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for i in form %}
    <tbody>
        <tr>
            <td>{{i.student_name}}</td>
            <td>{{i.student_email}}</td>
            <td>{{i.student_phone}}</td>
            <td>{{i.student_address}}</td>
            <td>{{i.student_place}}</td>
            <td><a href="{% url 'edit' %}?edit={{i.student_id}}" class="btn text-light btn-outline-secondary">Edit</td>
            <td><a href="{% url 'delete' %}?edit={{i.student_id}}" class="btn text-light btn-outline-secondary">Delete</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>   
{% endblock content %}